doctype html
html(lang='en')
 head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  title Client

  link(rel='stylesheet', href='../../css/signin.css')
  link(rel='stylesheet', href='../../css/bootstrap.min.css')

  script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(type='text/javascript', src='../../js/mstsc.js')
  script(type='text/javascript', src='../../js/keyboard.js')
  script(type='text/javascript', src='../../js/rle.js')
  script(type='text/javascript', src='../../js/client.js')
  script(type='text/javascript', src='../../js/canvas.js')
  script(type='text/javascript').
   var client=null;
   function load (canvas) {
   client = Mstsc.client.create(Mstsc.$(canvas));
   }
   function connect (ip, domain, username, password) {
    Mstsc.$("main").style.display = 'none';
    var canvas = Mstsc.$("myCanvas");
    canvas.style.display = 'inline';
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
   client.connect(ip, domain, username, password, function (err) {
    Mstsc.$("myCanvas").style.display = 'none';
    Mstsc.$("main").style.display = 'inline';});
    }

 body
  div(class='container' id='main')
  canvas(id='myCanvas' style='display:none')
 script(type='text/javascript').
  load('myCanvas');
  connect('#{host}', 'f5lab', 'administrator', 'pass@word1');

